.btn{
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    
    
    
    
    }
    &:hover{
        transform: translateY(-0.3rem);
        /**
        for box shadow,
        x,y,blur,color
        **/
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        
        
        
        }
    
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
    &--dark{
        background-color: $color-background-dark;
        color: $color-white;
        &::after{
            background-color: #fff;
            
            }
    
    }
   
    /** pseudo elements
**/
&::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    }
    
    
   
    &--animated{
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
